[submodule "tfsaggregator.github.io"]
	path = public
	url = https://github.com/tfsaggregator/tfsaggregator.github.io.git
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/tfsaggregator/hugo-theme-learn.git
