[submodule "tfsaggregator.github.io"]
	path = public
	url = https://github.com/tfsaggregator/tfsaggregator.github.io.git
[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/alex-shpak/hugo-book.git
