<section id="contacts">
  <div style="padding-left: 1em; ">
    <a href="mailto:tfsaggregator@outlook.com"><i class="fa fa-envelope">&nbsp;</i>tfsaggregator@outlook.com</a>
    <br/>
    <a href="https://twitter.com/tfsaggregator"><i class="fa fa-twitter">&nbsp;</i>@tfsaggregator</a>
    <br/>
    <div style="padding-top: 4pt;">
    <a href="https://slackin-tfsaggregator.herokuapp.com/">
      <img alt="Slack Team Badge" src="https://slackin-tfsaggregator.herokuapp.com/badge.svg" />
    </a>
    </div>
  </div>
</section>